@font-face {
  font-family: 'CormorantGaramond-Italic' !important;
  font-display: swap;
  font-weight: 400;
  src: url('../../public/fonts/CormorantGaramond-Italic.ttf') format('opentype') !important;
}
@font-face {
  font-family: 'CormorantGaramond-Italic' !important;
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url('../../public/fonts/CormorantGaramond-Italic.ttf') format('opentype') !important;
}
