@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tokens */
:root {
  --color-primary: 20 20 20; /* Text, buttons, etc. */
  --color-contrast: 250 250 249; /* Backgrounds, borders, etc. */
  --color-accent: 191 72 0; /* Labels like "On sale" */
  --font-size-fine: 0.75rem; /* text-xs */
  --font-size-copy: 1rem; /* text-base */
  --font-size-lead: 1.125rem; /* text-lg */
  --font-size-heading: 2rem; /* text-2xl */
  --font-size-display: 3rem; /* text-4xl */
  --color-shop-pay: #5a31f4;
  --shop-pay-button--width: 100%; /* Sets the width for the shop-pay-button web component */
  --height-nav: 3rem;
  --screen-height: 100vh;
  --blanco: #ebeced;
  --verde: #103948;

  @media (min-width: 32em) {
    --height-nav: 4rem;
  }
  @media (min-width: 48em) {
    --height-nav: 6rem;
    --font-size-heading: 2.25rem; /* text-4xl */
    --font-size-display: 3.75rem; /* text-6xl */
  }
  @supports (height: 100lvh) {
    --screen-height: 100lvh;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 250 250 250;
    --color-contrast: 32 33 36;
    --color-accent: 235 86 40;
  }
}

body,html{
  font-family: 'CormorantGaramond-Italic', 'serif' !important;
  font-display: swap;
  font-weight: 400;
  src: url('../../public/fonts/CormorantGaramond-Italic.ttf') format('opentype') !important;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

shop-pay-button {
  width: 100%;
  height: 3rem;
  display: table;
}

@layer base {
  * {
    font-variant-ligatures: none;
  }

  body {
    @apply antialiased text-primary/90 bg-contrast border-primary/10;
    color: var(--verde);
  }

  html {
    scroll-padding-top: 10rem;
    color: var(--verde);
  }

  a {
    text-decoration: none !important;
    color: initial !important;
  }
  model-viewer::part(default-progress-mask) {
    display: none;
  }

  model-viewer::part(default-progress-bar) {
    display: none;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  .prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:first-child {
        @apply mt-0;
      }
    }
  }
}
.row{
  --bs-gutter-x: 0 !important;
}

@layer components {
  .article {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-sans text-primary;
    }
    @apply mb-12 font-serif prose mx-auto grid justify-center text-primary;
    p,
    ul,
    li {
      @apply mb-4 text-lg;
    }
    img {
      @apply md:-mx-8 lg:-mx-16;

      @media (min-width: 48em) {
        width: calc(100% + 4rem);
        max-width: 100vw;
      }
      @media (min-width: 64em) {
        width: calc(100% + 8rem);
      }
    }
  }

  .swimlane {
    @apply grid snap-mandatory grid-flow-col snap-x w-full gap-4 scroll-px-6 px-6 pb-4 overflow-x-scroll justify-start;
  }
}

@layer utilities {
  .fadeIn {
    opacity: 0;
    animation: fadeInAnimation ease 500ms forwards;
  }

  .hiddenScroll {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .strike {
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 108%;
      height: 1.5px;
      left: -4%;
      top: 50%;
      transform: translateY(-50%);
      background: rgb(var(--color-primary));
      box-shadow: 0.5px 0.5px 0px 0.5px rgb(var(--color-contrast));
    }
  }

  .card-image {
    @apply relative rounded overflow-clip flex justify-center items-center;
    &::before {
      content: " ";
      @apply z-10 absolute block top-0 left-0 w-full h-full shadow-border rounded;
    }
    img {
      @apply object-cover w-full aspect-[inherit];
    }
  }
}

.logo {
  height: 100px;
  width: auto;
  margin: 20px;
}
.header {
  flex-direction: column;
  height: auto;
  background-color: var(--blanco) !important;
}
.promoTop {
  padding: 10px !important;
  width: 100%;
  background-color: var(--verde) !important;
}
.headerCenter {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.secciones {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
}
.itemSeccion {
  color: #696e70 !important;
}
.itemSeccion:hover {
  color: var(--verde) !important;
}
.botonesCel {
  display: flex;
}
.side {
  color: var(--verde);
  background-color: var(--blanco) !important;
}
.itemsDrawer:hover {
  color: black;
  font-weight: 500;
}
body {
  background-color: var(--blanco) !important;
}
.tituloPaginas {
  color: var(--verde) !important;
}
footer {
  color: var(--verde);
  background-color: var(--blanco) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.tituloFooter {
  font-weight: 500;
  font-size: 20px;
}
.textoFooter {
  color: #5b6467;
}
.list {
  justify-content: center;
  display: flex;
}
.logofooter {
  margin: 40px;
}
.page {
  margin-bottom: 20px;
}
.search {
  color: var(--verde) !important;
}
.iconSearch {
  height: 100%;
}

.txtVerde {
  color: var(--verde) !important;
}
.txtBlanco {
  color: var(--blanco) !important;
}
.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgb(10 39 80 / 25%) !important;
}
.btn {
  display: flex !important;
}
.btnApp{
  border-radius: 80px!important;
}
.btnEnviarCorreo {
  background-color: var(--verde) !important;
  color: var(--blanco) !important;
  border-radius: 80px;
  margin: 20px 0;
  padding: 10px !important;
}
.multicolumn-card__info {
  background-color: #e3e5e7;
  margin: 20px 0;
  padding: 10px !important;
}
.rte{
  overflow: auto;
}
.wrapInfo {
  justify-content: space-around;
}
.carousel-inner{
  height: 100% !important;
}
.showroom{
  width: 80%;
  background-color: var(--verde);
  color: var(--blanco);
  justify-self: center;
  margin: 50px auto auto auto !important;
  display: flex;
  align-items: center;
}
h2{
  font-size: 30px !important;
  font-weight: 500 !important;
}
.showroom > h2{
  padding: 40px;
}
.showroom > div{
  text-align: center;
}

.flex-grow{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btnShowroom{
  background-color: var(--blanco);
  color: var(--verde);
  border-radius: 80px;
  margin: 20px 0;
  padding: 10px;
}
.colecciones{
  text-align: center;
  margin-top: 80px;
  background-color: var(--verde);
  color: var(--blanco);
  min-height: 100px;
  padding: 50px;
}
.btnBlanco{
  background-color: var(--blanco)!important;
  color: var(--verde);
  border-radius: 80px;
  border: 1px solid var(--verde);
  margin: 20px 0;
  padding: 10px;
}
.btnVerde{
  background-color: var(--verde)!important;
  color: var(--blanco);
  border-radius: 80px;
  border: 1px solid var(--verde);
  margin: 20px 0;
  padding: 10px;
}
.precioElevado{
  text-decoration:line-through;
  display: flex;
  text-align: center;
  justify-content: center;
}
.detallesCard{
  text-align: center;
}
.btnOferta{
  position: absolute;
  bottom: 0;
  left: 10px;
}
.masVendidos{
  margin: 50px 0;
}
.titulo{
  padding-left: 50px;
  margin-top: 50px;
  text-align: center;
}